$mobile: 767px;
$tablet: 1024px;
$desktopSmall: 1366px;
$mediaMobile: "screen and (max-width: #{$mobile})";
$mediaTablet: "screen and (max-width: #{$tablet})";
$mediaDesktopSmall: "screen and (max-width: #{$desktopSmall})";
$bg: #131416;
$gradient: #3894ff, #34d890, #4b75ff, #6833ff, #e13bec, #3894ff;